footer{
    padding: 30px;
    border-top: 1px solid #999;
    margin: 0 30px;
    font-size: .75rem;
    p{
        margin: 0;
        text-align: center;
    }
}

@supports(display: grid){
    @media screen and (min-width: 860px){
        footer{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            p:nth-child(1){
                text-align: left;
            }
            p:nth-child(3){
                text-align: right;
            }
        }
    }
}